.root{
    
    -fx-font-size: 12.0pt;
    -fx-font-family: "courier,arial,helvetica";
    -fx-background: "white";
}

.grid{
	-fx-hgap: 10.0px;
	-fx-vgap: 10.0px;
	-fx-padding: 10.0px;
	-fx-alignment: "center";
}

.gridGerenciarAlunos{
	}

.textCentralizado{
	-fx-font-size: 22px;
   -fx-font-family: "Arial Black";
	-fx-underline: "true";
	-fx-max-width: "Infinity";
	-fx-alignment: "top-center";
	
}

.centralizar{
	-fx-alignment: "top-center";
}

.textArea{
	-fx-pref-height: 50.0pt;
	-fx-pref-width: 150.0pt;	
}

.txtField{
	-fx-min-width: 100.0pt;
	-fx-min-height: 23.0pt;
    -fx-background-color: transparent, #009EF, transparent, limegreen;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em;
}

.txtPesquisa{
	-fx-min-width: 400.0pt;
}

.margin{
	 -fx-padding: 20.0px;
    -fx-border-insets: 20.0px;
    -fx-background-insets: 10.0px;
}

.messageError{
	-fx-text-fill: red;
}


/*CSS PARA TABELA */
.table-view {
    -fx-background-color: slateblue;
    
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7.0px 7.0px 0.0px 0.0px;
    -fx-background-insets: 0.0 11.0px 0.0 0.0;
    -fx-padding: 0.0 0.0 5.0px 0.0;    
}

.table-view .column-header {
    -fx-background-color: transparent;
    
}
.table-view .corner {
    -fx-background-color: transparent;
    
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-alignment: CENTER;
}

.table-view .cell{
   -fx-cell-size: 35.0;
  -fx-alignment: CENTER;
  -fx-background-color: white;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER;
   
}

.table-row-cell:selected {
   -fx-background-color: blue; 
   -fx-text-background-color:  blue;
       
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive( #6622CC,80.0%);

	-fx-background-radius: 2.0em;
	-fx-border-radius:2.0em;
}

/*BUTTONS */
.button{
	-fx-background-color: white; 	
}

.button:hover{
	-fx-background-color: slateblue; 
	-fx-text-fill: white;
}

/*CHOICE BOX */
.choice-box,
.menu-button,
.combo-box-base {
    -fx-padding: 0.0;
    -fx-text-fill: #000000; 
}

.choice-box> .label,
.menu-button> .label,
.color-picker> .label {
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill:#000000 ;
}

.menu-button:hover > .label,
.color-picker:hover > .label {
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-text-fill: white;
}
.choice-box > .open-button,
.menu-button > .arrow-button {
    -fx-padding: 0.5em 0.667em 0.5em 0.0em; /* 6 8 6 0 */
}
